<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetaServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BetaServer.Properties.Settings>
            <setting name="ReferenceUsername" serializeAs="String">
                <value>mh</value>
            </setting>
            <setting name="ReferenceUserToken" serializeAs="String">
                <value>BADTOKEN</value>
            </setting>
            <setting name="DownloadInfoURL" serializeAs="String">
                <value>https://secure.remobjects.com/api/downloads?name={0}&amp;token={1}&amp;appid={2}&amp;clientid={3}</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8098</value>
            </setting>
        </BetaServer.Properties.Settings>
    </userSettings>
</configuration>
