<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.remobjects.everwood.beta"
          android:installLocation="auto" android:versionCode="7" android:versionName="1.7">
  <uses-sdk android:minSdkVersion="8"
            android:targetSdkVersion="18" />

  <permission android:name="com.remobjects.everwood.beta.permission.C2D_MESSAGE"/>
  <uses-permission android:name="com.remobjects.everwood.beta.permission.C2D_MESSAGE" />

  <!-- App receives GCM messages. -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <!-- GCM connects to Google Services. -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- to cache loaded images -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- GCM requires a Google account. -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <!-- Keeps the processor from sleeping when a message is received. -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <application android:name=".DataAccess" android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity"
              android:launchMode="singleTop"
              android:label="@string/activity_title"
              android:configChanges="keyboardHidden|orientation|screenSize">
      <intent-filter android:label="@string/app_name">
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".LoginActivity" android:label="@string/activity_title"></activity>
    <activity android:name=".ChangeLogActivity"
              android:label="@string/activity_title_changelog"
              android:parentActivityName=".MainActivity">
      <meta-data android:name="android.support.PARENT_ACTIVITY"
                 android:value=".MainActivity" />
    </activity>

    <service android:name=".GCMIntentService" />
    <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
              android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <!-- app can receive intents with messages from GCM -->
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <!-- app can receive intents, that GCM regiseter this app for notifications -->
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

        <!-- supposed to be the APP key, that is sent to GCM as APP ID (usually app package name) -->
        <category android:name="com.remobjects.everwood.beta" />
      </intent-filter>
    </receiver>
  </application>
</manifest>