<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
	<dict>
		<key>CFBundleIcons</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-72.png</string>
					<string>App-76.png</string>
					<string>App-114.png</string>
					<string>App-120.png</string>
					<string>App-152.png</string>
					<string>App-167.png</string>
					<string>App-180.png</string>
				</array>
			</dict>
		</dict>
		<key>CFBundleDisplayName</key>
		<string>Everwood</string>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>Launch</string>
		<key>UIMainStoryboardFile</key>
		<string>MainStoryboard~iPhone</string>
		<key>UIMainStoryboardFile~ipad</key>
		<string>MainStoryboard~iPad</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UILaunchImages</key>
		<array>
			<dict>
				<key>UILaunchImageMinimumOSVersion</key>
				<string>7.0</string>
				<key>UILaunchImageName</key>
				<string>Default7-568h</string>
				<key>UILaunchImageOrientation</key>
				<string>Portrait</string>
				<key>UILaunchImageSize</key>
				<string>{320, 568}</string>
			</dict>
			<dict>
				<key>UILaunchImageMinimumOSVersion</key>
				<string>7.0</string>
				<key>UILaunchImageName</key>
				<string>Default7</string>
				<key>UILaunchImageOrientation</key>
				<string>Portrait</string>
				<key>UILaunchImageSize</key>
				<string>{320, 480}</string>
			</dict>
		</array>
		<key>UIStatusBarTintParameters</key>
		<dict>
			<key>UINavigationBar</key>
			<dict>
				<key>Style</key>
				<string>UIBarStyleBlack</string>
				<key>Translucent</key>
				<false/>
			</dict>
		</dict>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>UIApplicationShortcutItems</key>
		<array>
			<!--<dict>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeHome</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Home</string>
				<key>UIApplicationShortcutItemType</key>
				<string>com.remobjects.Everwood.Beta.home</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict>
					<key>url</key>
					<string>weight://home</string>
				</dict>
			</dict>-->
			<dict>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeUpdate</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Refresh</string>
				<key>UIApplicationShortcutItemType</key>
				<string>com.remobjects.Everwood.Beta.refresh</string>
				<key>UIApplicationShortcutItemUserInfo</key>
				<dict>
					<key>url</key>
					<string>weight://refresh</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>